<manifest package="eu.codetopic.utils"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application android:name=".UtilsInitializer">

        <activity
            android:name=".module.settings.ModuleSettingsActivity"
            android:label="@string/menu_item_text_settings"/>
        <activity
            android:name=".module.settings.SettingsActivity"
            android:label="@string/menu_item_text_settings"/>

        <service
            android:name=".thread.service.BackgroundWorksService"
            android:enabled="true"
            android:exported="false"/>
        <service
            android:name=".list.widget.WidgetService"
            android:enabled="true"
            android:exported="false"/>

        <receiver
            android:name=".timing.BootConnectivityReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name=".timing.TimedBroadcastsExecutor"
            android:enabled="true"
            android:exported="false"/>

        <receiver
            android:name=".notifications.manage.NotificationDeleteReceiver"
            android:enabled="true"
            android:exported="false"/>

        <receiver
            android:name=".notifications.PostNotificationCanceler"
            android:enabled="true"
            android:exported="false"/>
        <receiver
            android:name=".notifications.manage.ClearOnBootReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>
