<manifest package="com.codetopic.utils"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application android:name="com.codetopic.utils.UtilsInitializer">

        <service
            android:name="com.codetopic.utils.thread.service.BackgroundWorksService"
            android:enabled="true"
            android:exported="false"
            android:label="BackgroundWorks"/>
        <service
            android:name="com.codetopic.utils.widget.WidgetService"
            android:enabled="true"
            android:exported="false"
            android:label="WidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS"/>

        <receiver
            android:name="com.codetopic.utils.timing.BootConnectivityReceiver"
            android:enabled="false"
            android:exported="false"
            android:label="TimingBootConnectivityReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.codetopic.utils.timing.TimedComponentExecutor"
            android:enabled="true"
            android:exported="false"
            android:label="TimedBroadcastsExecutor"/>

        <receiver
            android:name="com.codetopic.utils.notifications.manage.NotificationDeleteReceiver"
            android:enabled="true"
            android:exported="false"
            android:label="NotificationDeleteReceiver"/>

        <receiver
            android:name="com.codetopic.utils.notifications.PostNotificationCanceler"
            android:enabled="true"
            android:exported="false"
            android:label="PostNotificationCanceler"/>
        <receiver
            android:name="com.codetopic.utils.notifications.manage.ClearOnBootReceiver"
            android:enabled="false"
            android:exported="false"
            android:label="NotificationsClearOnBootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>
